/* .LeftGlowingCircle {
  position: absolute;
  left: -60px;
  top: -170px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: rgb(5, 175, 43);
  background: radial-gradient(
    circle,
    rgba(5, 175, 43, 0.3) 10%,
    rgba(7, 20, 0, 0.4) 70%
  );
  z-index: 0;
} */


.navbar {
  position: relative; /* Ensure the pseudo-element is relative to this */
}

.navbar::before {
  content: "";
  position: absolute;
  left: -60px;
  top: -170px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(5, 175, 43, 0.3) 10%, rgba(7, 20, 0, 0.4) 70%);
  z-index: 0           ;
}
