.HereoImageContainer {
  position: relative;
}

.HereoImageContainer::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -70px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(5, 175, 43, 0.3) 100%,
    rgba(7, 20, 0, 0.4) 10%
  );
  z-index: -1;
}
