@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  /* Font Families */
  --font-rajdhani: "Rajdhani", "serif";
  --font-public-sans: "Public Sans", "serif";

  /* Colors */
  --color-primary: #05af2b;
  --color-secondary: #071400;
  --color-gray1: #4b4b4b;
  --color-gray2: #888888;
  --color-gray3: #cccccc;
  --color-white: #ffffff;

  /* Font 7 Line height */
  --font-h1: 64px;
  --line-h1: 80px;
  --font-h2: 48px;
  --line-h2: 64px;
  --font-h3: 32px;
  --line-h3: 48px;
  --font-h4: 24px;
  --line-h4: 36px;
  --font-h5: 20px;
  --line-h5: 30px;
  --font-h6: 18px;
  --line-h6: 28px;

  /* Spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;

  /* Width */
  --width-standard: 1440px;
  --width-large: 1920px;
  --width-extra-large: 2560px;

  /* Padding */
  --padding-p83: 83px;

  /* Border Radious */
  --border-radius--br4: 4px

}

body {
  background-color: #fff;
  color: #62646a;
  font: 400 16px/24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
}


/* Apply to Headings/Title */
h1 {
  font-size: var(--font-h1);
  line-height: var(--line-h1);
  font-weight: 600;
}

h2 {
  font-size: var(--font-h2);
  line-height: var(--line-h2);
  font-weight: 600;
}

h3 {
  font-size: var(--font-h3);
  line-height: var(--line-h3);
  font-weight: 600;
}

h4 {
  font-size: var(--font-h4);
  line-height: var(--line-h4);
  font-weight: 600;
}

h5 {
  font-size: var(--font-h5);
  line-height: var(--line-h5);
  font-weight: 600;
}

h6 {
  font-size: var(--font-h6);
  line-height: var(--line-h6);
  font-weight: 600;
}

/* Subtitles */
.subtitle1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.subtitle2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.body1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.body2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.caption {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.overline {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.2;
}

/* Button Text */
.button-lg {
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
}

.button-md {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.button-sm {
  font-size: 13px;
  line-height: 22px;
  font-weight: 700;
}

